################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/object-detection/JetsonNanoObjectClassificationWeb/.vs/JetsonNanoObjectClassificationWeb
